In [1]:

s="python"
s1="A"
print(s.islower())
print(s1.islower())

True
False

In [2]:
def numbertolistconversion(n):
    for i in range(len(a)):
        if i>=0:
            print(a[i],end=" ");
a=[1,4,5,6,9]
numbertolistconversion(a)

1 4 5 6 9

In [3]:
str="python"
print(str.upper())
print(str.lower())

PYTHON
python

In [4]:
s="python programming"
s1="Python Programming"
print(s.istitle())
print(s1.istitle())

False
True

In [5]:
s="python"
s1="1524"
print(s.isnumeric())
print(s1.isnumeric())

False
True

In [6]:
s="python"
s1="py1524"
print(s.isalpha())
print(s1.isalpha())

True
False

In [12]:
str = "python"
print("0".join(str))

p0y0t0h0o0n

In [23]:
str = "p0y0t0h0o0n"
print(str.replace("0",""))

python

In [9]:
s="python programing is easy to learn"
lst=s.split()
print(lst)
print(lst.index("is"))

['python', 'programing', 'is', 'easy', 'to', 'learn']
2

In [10]:
s="python programing is easy to learn"
print(s.split())
print(s.split("a"))
print(s.split(" ,"))

['python', 'programing', 'is', 'easy', 'to', 'learn']
['python progr', 'ming is e', 'sy to le', 'rn']
['python programing is easy to learn']

In [24]:
t1=("python","programming",1989,2019,"machine","learniong","A1")
t2=(1,2,3,4,5)
print(t1)
print(t2)

('python', 'programming', 1989, 2019, 'machine', 'learniong', 'A1')
(1, 2, 3, 4, 5)

In [25]:
t1=("python","programming",1989,2019,"machine","learniong","A1")
print("t1[0]=",t1[0])
print("t1[2]=",t1[2])
print("t1[-1]=",t1[-1])
print("t1[1:4]=",t1[1:4])
print("t1[2:-2]=",t1[2:-2])

t1[0]= python
t1[2]= 1989
t1[-1]= A1
t1[1:4]= ('programming', 1989, 2019)
t1[2:-2]= (1989, 2019, 'machine')

In [28]:
t1=("python","programming",1989,2019,"machine","learniong","A1")
t2=("python","programming",1989,2019,"machine","learniong","A1")
print(t1)

print(t1+t2)

('python', 'programming', 1989, 2019, 'machine', 'learniong', 'A1')
('python', 'programming', 1989, 2019, 'machine', 'learniong', 'A1', 'python', 'programming', 1989, 2019, 'machine', 'learniong', 'A1')

In [29]:

list1=["python","programming",1989,20109,"machine learning","AI"]
t1=tuple(list1)
print(t1)

('python', 'programming', 1989, 20109, 'machine learning', 'AI')

In [30]:


user1={"name":"Python","age":29,"emailid":"gmail.com","mobileno":8888888888}
print("user1[name]=",user1["name"])
print("user1[age]=",user1["age"])

user1[name]= Python
user1[age]= 29

In [31]:
user1={"name":"Python","age":29,"emailid":"gmail.com","mobileno":8888888888}
print("user1[emailid]=",user1["emailid"])
user1["emailid"]="123gmail.com"
print("user1[emailid]=",user1["emailid"])

user1[emailid]= gmail.com
user1[emailid]= 123gmail.com

In [32]:

user1={"name":"Python","age":29,"emailid":"gmail.com","mobileno":8888888888}
print(user1)
user1["Adress"]="Hyderabad"
print(user1)

{'name': 'Python', 'age': 29, 'emailid': 'gmail.com', 'mobileno': 8888888888}
{'name': 'Python', 'age': 29, 'emailid': 'gmail.com', 'mobileno': 8888888888, 'Adress': 'Hyderabad'}

In [33]:

user1={"name":"Python","age":29,"emailid":"gmail.com","mobileno":8888888888}
user2=user1.copy()
print(user1.values())
print(user2.values())
print(user1.items())

dict_values(['Python', 29, 'gmail.com', 8888888888])
dict_values(['Python', 29, 'gmail.com', 8888888888])
dict_items([('name', 'Python'), ('age', 29), ('emailid', 'gmail.com'), ('mobileno', 8888888888)])

In [34]:

lst=["Python","programming"]
print("%s %s" %(lst[0],lst[1]))

Python programming

In [37]:
contacts={}
def addcontact(name,phone):
    if name not in contacts:
        contacts[name]=phone
        print("contact %s added"%name)
    else:
        print("contact %s already exists"% name)
    return
addcontact("anil",95137521)
addcontact("harsha",9958645255)
addcontact("anil",95137522851)

contact anil added
contact harsha added
contact anil already exists

In [38]:
def searchcontact(name):
    if name in contacts:
        print(name," : ", contacts[name])
    else:
        print("%s does not exits "% name)
    return 
searchcontact("anil")
searchcontact("ajay")
searchcontact("kranthi")

anil  :  95137521
ajay does not exits
kranthi does not exits

In [40]:
def importcontacts(newcontacts):
    contacts.update(newcontacts)
    print(len(newcontacts.keys()),"contacts added successfull")
    return
newcontacts = {'dinesh':9955112233,'ajay':9988774455}
importcontacts(newcontacts)

2 contacts added successfull

In [44]:
def deletecontact(name):
    if name in contacts:
        del contacts[name]
        print(name," : is deleted from the copntacts")
    else:
        print(name," : is not exist in  the contacts")  
    return

deletecontact("harsha")
deletecontact("naveen")

harsha  : is deleted from the copntacts
naveen  : is not exist in  the contacts

In [46]:
import random
def generaterandomnumbers(n,lb,ub):
    for i in range(0,n):
        print(random.randint(lb,ub),end=" ")
    return
generaterandomnumbers(10,12,120)

105 38 43 19 37 93 45 80 98 32

In [47]:
print("Maximum of 4,12,43.3,19 and 100 is : ",end="") 
print (max( 4,12,43.3,19,100 ))

Maximum of 4,12,43.3,19 and 100 is : 100

In [48]:
print("Manimum of 4,12,43.3,19 and 100 is : ",end="") 
print (min( 4,12,43.3,19,100 ) )

Manimum of 4,12,43.3,19 and 100 is : 4