# markdown

## markdown

### markdown

#### markdown

##### markdown
###### markdown

####### markdown

## For italic and bold
* *python*
* **python**
* ***python***

  - Normal text
      subtext1
      subtext2

![image](https://www.digitaldesignjournal.com/wp-content/uploads/2018/07/Python-Programming-Wallpaper_1.jpg)

* [1]
(https://drive.google.com/drive/my-drive)

In [3]:
print("hello,gitam")
print("hi")

hello,gitam
hi

In [5]:
print("Heloo,Gitam",end="...")
print("good mrng")

Heloo,Gitam...good mrng

In [7]:
a = 10
print(a)

10

In [9]:
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [10]:
a = "python" 
b = "p"
type(a)
c = (10)
type(c)

int

In [11]:
a,b,c == 1
print(a,b,c)

python p 10

In [14]:
name = "vishwa"
age = "20"
print("my name is",name,"and age is:",age)

my name is vishwa and age is: 20

In [15]:
a = b = 20+2

In [16]:
a

22

In [17]:
b

22

In [2]:
a = float(input("enter a number"))
b = float(input("enter a number"))
a+b

enter a number196
enter a number123

319.0

In [4]:
x=input("enter a string")
type(x)

enter a string196

str

In [8]:
x=int(input("enter a string"))
print(x)

enter a string196
196

In [1]:
x=input("enter a number")
type(x)

enter a number123

str

In [1]:
x=int(input("enter a number"))
type(x)

enter a number196

int

In [9]:
x=float(input("enter a number"))
type(x)

enter a number196

float

In [10]:
x=int(input("enter a number"))
y=float(input("enter a number"))
type(x)
type(y)
print(x)
print(y)

enter a number196
enter a number142
196
142.0

In [11]:
x=int(input("enter a number"))
y=float(input("enter a number"))
type(x)
type(y)

enter a number196
enter a number142

float

In [12]:
x=196
print(x)
type(x)

196

int

In [14]:
z=2+4j
print(z)
type(z)

(2+4j)

complex

In [16]:
x=float(196)
x

196.0

In [17]:
y=complex(4,5)
y

(4+5j)

In [18]:
c1=1+2j
c2=2+3j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(3+5j)
(-1-1j)
(-4+7j)

In [19]:
#STRINGS
s1="abc"
s2="def"
print(s1)
print(s2)

abc
def

In [20]:
s1="abc"
s2="def"
type(s1)
type(s2)

str

In [21]:
s="196"
print(type(s))

<class 'str'>

In [22]:
a=int(196)
print(int(a))

196

In [23]:
i=100
print(type(i))

<class 'int'>

In [24]:
f1=float(i)
print(f1)
type(f1)

100.0

float

In [35]:
a="196"
int(a)

196

# Operators-

## arthemic operators :-

In [ ]:

n1=2
n2=3
print(n1+n2)
print(n1-n2)
print(n1*n2)
print(n1/n2) #stores the quotient
print(n1%n2) #modular division-stores the remainder
print(n1//n2)#
print(n1**n2)

In [28]:
196/142

1.380281690140845

In [29]:
10//2

5

In [30]:
13**2

169

In [31]:
4/5

0.8

In [32]:
4//5

0

In [33]:
64//24

2

In [34]:
64//26

2

## logical operators :-

In [39]:
x=2
y=3
print(x>5 and x<10) # checks for two condns
print(x>=5 or x<=10) # checks for either condns

False
True

## relation operators :-

In [42]:
x=2
y=3
print(x==y)
print(x!=y)
print(x<y)
print(x>y)
print(x<=y)
print(x>=y)

False
True
True
False
True
False

## membership operators :-

In [44]:
str1 = "ABC"
print('A' in str1)
print('A' not in str1)

True
False

# Conditional statement

In [1]:
a=20
if a>0:
    print("positive")

positive

In [6]:
a=-20
if a>0:
    print("positive")
else:
    print("negative")

negative

In [9]:
a=0
if a<0:
    print("positive")
else:
    print("negative")
elifa:
    print("zero")

SyntaxError: invalid syntax (<ipython-input-9-b275108bfd0e>, line 6)